@font-face {
    font-family: Roboto;
    src: url("Resources/Roboto-Regular.ttf");
}

@font-face {
    font-family: Druk Wide;
    src: url("Resources/Druk-Wide-Medium.ttf");
}

@font-face {
    font-family: Inter;
    src: url("Resources/Inter-Regular.ttf");
}
