/*page init*/
body, html {
    background: black;
    width: max(100%,1460px);
    height: 100%;
    padding: 0px;
    margin: 0px;
    min-height: 900px;
}

    body::-webkit-scrollbar {
        display: none;
    }

.headerText {
    color: white;
    height: max-content;
    width: max-content;
    font-family: Roboto;
    padding: 5px 10px 5px 10px;
    font-size: 24px;
    font-weight: 900;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: 50% 50%;
}

.ellipse {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    width: max(max(100vw, 100vh), 1440px);
    height: max(max(100vw, 100vh), 1440px);
}

/*grids*/

.wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, max(100vh, 900px));
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    min-width: 1440px;
    position: relative;
}

/*flex boxes*/

.feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 280px;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 172px;
    width: calc(80% / 5);
    cursor: default;
    position: fixed;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0px 0px 0px auto;
    height: calc(100% - 200px);
    width: 100%;
}

.faqContainer {
    display: flex;
    flex-direction: column;
    border-top: 3px solid white;
    width: 1040px;
}

/*single items*/

.menuItem {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin: 0px;
}

.feedbackItem {
    display: flex;
    flex-direction: column;
    width: calc(420px - 20px * 2);
    height: calc(100% - 33px * 2);
    backdrop-filter: blur(10px);
    background-color: rgba(196, 196, 196, 0.4);
    border-radius: 10px;
    padding: 33px 20px 33px 20px;
}

.faqItem {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid white;
}

/*headers*/

.feedbackItemHeader {
    font-family: Inter;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 18px;
    color: white;
}

.feedbackItemContent {
    font-family: Inter;
    font-size: 18px;
    margin: 0px;
    color: white;
}

.pageHeader {
    color: white;
    font-weight: bold;
    font-size: 46px;
    line-height: 47px;
    font-family: Druk Wide;
    text-align: right;
    margin-top: 0px;
}

.faqHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: min-content;
}

/*UI decoration*/

.buttonText {
    margin: auto;
    vertical-align: middle;
    font-size: 16px;
    font-family: Inter;
    cursor: pointer;
    font-weight: 600;
}

.buttonStyle {
    width: 336px;
    height: 38px;
    border-radius: 19px;
    background: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

    .buttonStyle:hover {
        background: #d4d4d4;
    }
